html {
    height: 100%;
    overflow: hidden;
}

body {
    background: #2c2d2d;
    margin: 0;
    width: 100%;
    height: 100%;
}

.scene {
    width: 480px;
    height: 640px;
    margin: 16px auto;
    -webkit-perspective: 2000px;
    perspective: 2000px;
}

.book, .preview-container {
    position: relative;
    width: 100%;
    height: 100%;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.page, .normal-page {
    cursor: pointer;
    position: absolute;
    color: black;
    width: 100%;
    height: 100%;

    -webkit-transition: 1.5s -webkit-transform;

    transition: 1.5s transform;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform-origin: left center;
    -ms-transform-origin: left center;
    transform-origin: left center;
}

.front,
.back {
    position: absolute;

    width: 100%;
    height: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    -webkit-backface-visibility: hidden;

    backface-visibility: hidden;
    background: -webkit-gradient(linear, 0% 0%, 100% 100%, from(#FFFFFF), to(#CCCCCC));
    background: -webkit-gradient(linear, left top, right bottom, from(#fff), to(#ccc));
    background: -webkit-linear-gradient(top left, #fff, #ccc);
    background: linear-gradient(to bottom right, #fff, #ccc);
}

.back {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.page.active {
    z-index: 1;
}

.page.flipped {
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
}

.page.active:hover {
    transform: rotateY(-20deg);
}

.page.flipped:hover {
    -webkit-transform: rotateY(-160deg);
    transform: rotateY(-160deg);
}

.page.flipped:last-of-type {
    z-index: 1;
}

p {
    margin: 0;
}

.normal-page.active {
    z-index: 1;
}

.normal-page.flipped {
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
}

.normal-page.active:hover {
    transform: rotateY(-20deg);
}

.normal-page.flipped:hover {
    -webkit-transform: rotateY(-160deg);
    transform: rotateY(-160deg);
}

.normal-page.flipped:last-of-type {
    z-index: 1;
}

.normal-page.back{
    background: aquamarine;
}

.normal-page.front{
    background: seagreen;
}